div(style='display:flex;justify-content: center;flex-wrap:wrap;align-content:center;text-align:center;width:100%;height:100%')
  div.w-100
    p Please login to continue.
  div.w-100
    a(href='/logout').btn.btn-primary Login
