nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') WEBCHAT
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link(href='/') Home
      if isLoggedIn
        a.nav-item.nav-link(href='/chat') Chat
        a.nav-item.nav-link(href='/logout') Logout
      else
        a.nav-item.nav-link(href='/login') Login
